img {
    width: 100%;
}
.mainpage {
	
	width :60%;
	margin-left:22%;
	float:left;
	height:100%;
}

.page_left {
	width:66%;
	
	height:100%;
	float:left;
}
.page_right {
	width:33%;
	height:100%;
	float:left;
}
.r_pic{
	width:20%;
	height:70px;
	float:left;
	margin-left:25px;
	margin-top:60px;
}
.title {
	margin-top:15px;
	margin-left:22%;
	width:40%;
	float:left;
}
.r_user_name {
	font-size:14px;
}
.r_pic_all {
	width:100%;
	height:250px;
	margin-top:10px;
}
.ad{
	margin-top:60px;
	width:100%;
	height:95px;
}
.response{
	width:100%;

	float:left;
}
textarea{
	
	word-wrap:break-word;
	font-size:20px;
}
.response_to_area{
	margin-top:20px;
	margin-bottom:10px;
	float:left;
	width:100%;
	height:30px;
	background-color:#eaeaea;
}
.response_but:hover{
	color:blue;
	text-decoration:underline;
}
.response_text{

	

	width:400px;
	height:120px;
	border-radius:4px;
	border:2px solid #c8cccf;
	color:#6a6f77;
	  
}
.ad .ad_img{
	width:100%;
	height:100%;
}
.clear{ clear:both} 
.poster{
	margin-top:10px;
	width:100%;

	
	float:left;
}
.pic{
	width:100%;
	
}
.post_pic{
	width:10%;
	float:left;
}

.poster_info{
	width:90%;
	height:100%;
	float:left;
}
.poster_name {
	margin-top:2%;
	margin-left:4%
}
.poster_name a{
	font-size:20px;
	
}
.poster_name .user_id{
	color:black;
	font-weight:999;
	
}
.poster_name .poster_time{
	margin-left:25px;
	color:green;
	
}
.zhengwen{
	margin-left:14%;
	width:66%;
}
.zhengwen a{
	font-size:20px;
}
.title a{
	font-size:25px;
	color:#121212;
	font-weight:999;
}
.comment_all {
	width:100%;
	margin-bottom:15px;
	float:left;
}
.comment {
	margin-top:35px;
	width:100%;
	height:100px;
	float:left;
	border-bottom:1px  dashed #1e1e1e;
}
.com_pic {
	width:10%;
	float:left;
}
.com_content {

	margin-left:4%;
	width:86%;
	text-overflow:ellipsis;
	float:left;
	
}

.com_user{
	
	overflow: hidden;
	width:100%;
	height:20px;
	background-color:#F0FFF0;
	float:left;
}
.com_conment {
	margin-top:5px;
	height:75px;
	line-height:20px;
	position:relative
	float:left;
}
.com_conment a{
	margin-top:3px;
	margin-left:15px;
	
}
span {
	position:absolute;right:0;bottom:0;
}
.source{
	float:right;	
}
.ctl{
            table-layout:fixed
    }
    .ctl td{
    text-indent: 2em;
    font-size:15px;
            word-break:break-all
        }
.list-page{padding:20px 0;text-align:center;}
.list-page a{margin:0 5px;padding:2px 7px;border:1px solid #ccc;background:#f3f3f3;}
.list-page a:hover{background:#e4e4e4;border:1px solid #908f8f;}
.list-page .current{margin:0 5px;padding:2px 7px;background:#f60;border:1px solid #fe8101;color:#fff;}
.big_title {
        width: 100%;
    float: left;
    margin-top: 35px;
    margin-left: 45px;
    font-size: 30px;
}